.gioithieu .container{
  max-width: 1400px;
}
.header{
  background: url('../../../assets/img/nền.png') center/cover;
  text-align: center;
}
.header .container{
  max-width:1000px !important;
}
.category-item {
  
  max-width: 174px; 
}

.custom-img img{
  border-radius: 50% !important;
  max-width: 174px; 
}
a{
text-decoration: none;
color:#000;  
}
.category-item:hover .custom-img img {
transform: translateY(-15px);
} 
.category-item:hover p {
color: #CC7F45; 
}  




.vertical-tabs a {
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none; /* Remove default underline */
    color: black; /* Set default text color */
  }
  
  .vertical-tabs a:hover {
    color: #CC7F45; /* Change the color as desired */
  }
  
  .content {
    padding-left: 20px; /* Adjust the padding as needed */
  }
  .vertical-tabs a.selected {
    color: #CC7F45; /* Change the color for the selected tab */
  }
  .faded {
    opacity: 0.5; /* hoặc bất kỳ giá trị nào từ 0 đến 1 tùy thuộc vào mức độ mờ bạn muốn */
    pointer-events: none; /* ngăn chặn sự kiện click vào phần tử bị ẩn */
  }
  
  
  