
<div class="header">
  <div class="container" style="padding-top: 50px; text-align: center;">
      <nav aria-label="breadcrumb" style="display: inline-block;">
          <h2 style=" color: #CC7F45;">Tài Khoản</h2>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item" style=" color: #CC7F45;" >Tài Khoản</li>
          </ol>
      </nav>
      
      <p-carousel [value]="subCategories" [numVisible]="4" [numScroll]="1" [responsiveOptions]="responsiveOptions">
          <ng-template let-subCategories pTemplate="item">
              <a class="m-2 text-center py-3 px-5 category-item">
                  <div class="mb-1 custom-img">
                      <img class="" [src]="subCategories.imageUrl" [alt]="subCategories.title">
                  </div>
                  <div>
                      <p class="mb-1 mt-3">{{ subCategories.title }}</p>
                  </div>
              </a>
          </ng-template>
      </p-carousel>
  </div>
</div>


<div class="w-75 p-3 mx-auto">
    <div *ngIf="userId">
     
      <div class="row">
        <div class="col-md-3">
          <div class="vertical-tabs">
            <h2>TRANG TÀI KHOẢN</h2>
            <b>Xin chào,</b><b style="color:red" *ngIf="user"> {{ user.name }} </b><b>!</b>
            <p></p> 
           
            <div>
                <a (click)="showInfo()" [class.selected]="selectedTab === 'info'">Thông tin tài khoản</a>
            </div>
            <div>
                <a (click)="showOrders()" [class.selected]="selectedTab === 'orders'">Đơn hàng của bạn</a>
            </div>
            <div>
                <a (click)="showAddress()" [class.selected]="selectedTab === 'address'" *ngIf="user">Sổ địa chỉ ({{ user.contactInfo.length }})</a>
            </div>
          </div>
        </div>
      
        <div class="col-md-9">
          <div class="content">
            <!-- Content for the selected tab -->
            <div *ngIf="selectedTab === 'info'">
                <h2>THÔNG TIN TÀI KHOẢN</h2>
                <p></p>
                  <p *ngIf="user"><strong>Email:</strong> {{ user.email }}</p>
                  <p *ngIf="user"><strong>Số Điện Thoại:</strong> {{ user.phone }}</p>
                  <p *ngIf="user"><strong>Họ và Tên:</strong> {{ user.name }}</p>
            </div>
      
            <div *ngIf="selectedTab === 'orders'">
              <table class="table table-bordered">
                <thead>
                  <tr >
                    <th class="text-center" scope="col" style="background-color: #CC7F45; color: aliceblue;">Đơn hàng</th>
                    <th class="text-center" scope="col" style="background-color: #CC7F45; color: aliceblue;">Ngày</th>
                    <th class="text-center" scope="col" style="background-color: #CC7F45; color: aliceblue;">Địa chỉ</th>
                    <th class="text-center" scope="col" style="background-color: #CC7F45; color: aliceblue;">Giá trị đơn hàng</th>
                    <th class="text-center" scope="col" style="background-color: #CC7F45; color: aliceblue;">TT thanh toán</th>
                    <th class="text-center" scope="col" style="background-color: #CC7F45; color: aliceblue;">TT vận chuyển</th>
                    <th class="text-center" scope="col" style="background-color: #CC7F45; color: aliceblue;">Thao tác</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Loop through orders and display information -->
                  <tr *ngFor="let order of orders ; let i = index">
                     <td class="text-center">{{ i + 1 }}</td>
                    
                    <td class="text-center" style="white-space: nowrap;">{{ order.createdAt | date:'dd-MM-yyyy' }}</td>
                    <td class="text-center"> {{ getOrderShippingAddress(order) | json }}</td>
                    <td class="text-center">{{ order.totalAmount |number:'1.0-2'}} ₫</td>
                    <td class="text-center">{{ order.paymentMethod }}</td>
                    <td class="text-center">{{ order.status }}</td>
                    <td class="text-center">
                      <button class="btn btn-danger" (click)="confirm1(order)" [disabled]="order.status === 'Giao thành công'">Hủy đơn hàng</button>
                      
                    </td>
                    <p-confirmDialog></p-confirmDialog>
                  </tr>
                  
                </tbody>
              </table>
            </div>
      
            <div *ngIf="selectedTab === 'address'">
                <h2>ĐỊA CHỈ CỦA BẠN</h2>
                <button (click)="showDialog()" icon="pi pi-external-link" class="btn" style=" background-color: #CC7F45; color: aliceblue;">Thêm địa chỉ</button>

                <p></p>
                <br>
                <div *ngIf="contactInfo">
                <p><strong>Họ và Tên:</strong> {{ contactInfo.fullName }}</p>
                <p><strong>Địa chỉ:</strong> {{ contactInfo.address }}, {{ contactInfo.ward }}, {{ contactInfo.district }}, {{ contactInfo.province }}, {{ contactInfo.country }}</p>
                <p><strong>Số điện thoại:</strong> {{ contactInfo.phone }}</p>
              </div>
              <div *ngIf="!contactInfo">
                <p>No contact information available.</p>
              </div>
              </div>              
          </div>
        </div>
      </div>      
    </div>
  </div>
  <p-dialog header="THÊM ĐỊA CHỈ MỚI" [(visible)]="visible" [modal]="true" [style]="{ width: '60vw' }" [draggable]="false" [resizable]="false">
    <form [formGroup]="addressForm" (ngSubmit)="onSubmit()" class="container mt-3" *ngIf="contactInfo">
      <div class="row">
        <div class="col-md-12 mt-3">
          <input type="text" id="fullName" formControlName="fullName" [(ngModel)]="contactInfo.fullName" class="form-control" placeholder="Họ và tên">
        </div>
        <div class="col-md-12 mt-3">
          <input type="text" id="phone" formControlName="phone" [(ngModel)]="contactInfo.phone" class="form-control" placeholder="Số điện thoại">
        </div>
        <div class="col-md-12 mt-3">
          <input type="text" id="address" formControlName="address" [(ngModel)]="contactInfo.address" class="form-control" placeholder="Địa chỉ">
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-4 mt-3">
          <select id="province" formControlName="province" [(ngModel)]="selectedProvince" (change)="onProvinceChange()" class="form-control">
            <option value="">Chọn Tỉnh/Thành phố</option>
            <option *ngFor="let province of provinces" [value]="province.code">{{ province.name }}</option>
          </select>
        </div>
        <div class="col-md-4 mt-3" [ngClass]="{ 'faded': !provinceSelected }">
          <select id="district" formControlName="district" [(ngModel)]="selectedDistrict" (change)="onDistrictChange()" class="form-control">
            <option value="">Chọn Quận/Huyện</option>
            <option *ngFor="let district of districts" [value]="district.code">{{ district.name }}</option>
          </select>
        </div>
        <div class="col-md-4 mt-3" [ngClass]="{ 'faded': !districtSelected }">
          <select id="ward" formControlName="ward" [(ngModel)]="selectedWard" class="form-control">
            <option value="">Chọn Phường/Xã</option>
            <option *ngFor="let ward of wards" [value]="ward.name">{{ ward.name }}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <input type="text" id="zipCode" formControlName="zipCode" [(ngModel)]="contactInfo.zipCode" class="form-control" placeholder="Mã zip">
        </div>
        <div class="col-md-12 mt-3">
          <div class="form-check">
            <input type="radio" id="isDefault" formControlName="isDefault" [(ngModel)]="contactInfo.isDefault" class="form-check-input">
            <label for="isDefault" class="form-check-label">Đặt là địa chỉ mặc định?</label>
          </div>
        </div>
        <div class="col-md-12 mt-3">
          <button type="submit" class="btn  col-md-12" style=" background-color: #CC7F45;
          color: aliceblue;">Submit</button>
        </div>
      </div>
    </form>
    
    
  </p-dialog>
  