 
.vertical-tabs a {
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none; /* Remove default underline */
    color: black; /* Set default text color */
  }
  
  .vertical-tabs a:hover {
    color: #CC7F45; /* Change the color as desired */
  }
  
  .content {
    padding-left: 20px; /* Adjust the padding as needed */
  }
  .vertical-tabs a.selected {
    color: #CC7F45; /* Change the color for the selected tab */
  }
  .faded {
    opacity: 0.5; /* hoặc bất kỳ giá trị nào từ 0 đến 1 tùy thuộc vào mức độ mờ bạn muốn */
    pointer-events: none; /* ngăn chặn sự kiện click vào phần tử bị ẩn */
  }
  
  
  