
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center mx-auto">
  <div style="margin-left: 180px;">
    <a class="navbar-brand" href="#"><img src="https://bizweb.dktcdn.net/100/485/241/themes/911577/assets/logo.png?1700209535143" height="60" class="mr-2" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
    <div class="col-lg-8 col-2">
      <ul class="navbar-nav mr-auto justify-content-center">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [style.color]="isActive('/user') ? '#CC7F45' : 'inherit'" routerLink="home">TRANG CHỦ <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [style.color]="isActive('/user/gioithieu') ? '#CC7F45' : 'inherit'" routerLink="gioithieu">GIỚI THIỆU</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " [style.color]="isActive('/user/sanpham') ? '#CC7F45' : 'inherit'" routerLink="sanpham" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding-bottom:20px;">
            SẢN PHẨM
          </a>
            <ul class="dropdown-menu custom-dropdown dropdown-menu-lg-start " aria-labelledby="navbarDarkDropdownMenuLink">
              <div style="margin-left: 20px;">
                <div class="row">
                  <div class="col-lg-8 col-12 ">
                    <div class="row">
                      <div *ngFor="let mainCategory of mainCategories" class="col-md-4 mt-4 mb-4">
                        <!-- <a class="h6 text-decoration-none" style="color:#CC7F45;">{{ mainCategory.mainCategoryName }}</a> -->
                        <li>
                          <a (click)="redirectToProductstomainCategoryId(mainCategory.mainCategoryId)"
                          class="h6 text-decoration-none" 
                          style="color:#CC7F45;"
                          >{{ mainCategory.mainCategoryName }}</a>
                        </li>
                        <ul class="list-unstyled">
                          <li *ngFor="let subCategory of mainCategory.subCategories">
                            <a (click)="redirectToProductstosubCategoryId(subCategory.subCategoryId)">{{ subCategory.subCategoryName }}</a>
                          </li>                          
                        </ul>
                      </div>
                    </div>
                </div>
                  <div class="col-lg-4 col-12">
                    <img src="https://bizweb.dktcdn.net/100/485/241/themes/911577/assets/megamenu_banner.png?1700209535143" class="img-fluid">
                  </div>
                </div>
              </div>
            </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" [style.color]="isActive('/user/tintuc') ? '#CC7F45' : 'inherit'" routerLink="tintuc">TIN TỨC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [style.color]="isActive('/user/cuahang') ? '#CC7F45' : 'inherit'" routerLink="cuahang">CỬA HÀNG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [style.color]="isActive('/user/lienhe') ? '#CC7F45' : 'inherit'" routerLink="lienhe">LIÊN HỆ</a>
        </li>
      </ul>
    </div>

    <form class="form-inline my-2 my-lg-0">
      <i><a class="pi pi-search text-decoration-none"></a></i>
      <div class="dropdown">
        <i><a class="pi pi-user text-decoration-none dropbtn"></a></i>
        <div class="dropdown-content">
          <ng-container *ngIf="isLoggedIn(); else showLogin">
            <a routerLink="taikhoan">Tài khoản</a>
            <a (click)="logout()">Đăng xuất</a>
          </ng-container>
          <ng-template #showLogin>
            <!-- Hiển thị khi chưa đăng nhập -->
            <a routerLink="dangnhap">Đăng nhập</a>
            <a routerLink="dangky">Đăng ký</a>
          </ng-template>
        </div>
      </div>
      
      <i><a class="pi pi-heart text-decoration-none"></a></i>
      <i (mouseover)="showShoppingCart()" class="pi pi-shopping-bag text-decoration-none"></i>
          
          <div *ngIf="isCartVisible">
            <p-orderList [value]="shoppingCart.items" [listStyle]="{ height: '25rem' }" header="Shopping Cart">
              <ng-template let-item pTemplate="item">
                <div class="flex flex-wrap p-2 align-items-center gap-3">
                  <img src="{{ item.product.productImage[0] }}" [alt]="item.product.productName" class="w-4rem shadow-2 flex-shrink-0 border-round" />
                  <div class="flex-1 flex flex-column gap-2">
                    <span class="font-bold">{{ item.product.productName }}</span>
                    <div class="flex align-items-center gap-2">
                      <i class="pi pi-tag text-sm"></i>
                      <span>{{ item.quantity }}</span>
                    </div>
                  </div>
                  <span class="font-bold text-900">{{ '$' + (item.product.productPrice * item.quantity) }}</span>
                </div>
              </ng-template>
            </p-orderList>
          
            <div *ngIf="!shoppingCart || shoppingCart.items.length === 0">
              <p>Your shopping cart is empty.</p>
            </div>
          </div>

    </form>
  </div>
</nav>


<router-outlet class="router-outlet"></router-outlet>



<div class="footer">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4 ft-info"style="color:aliceblue"> 
          <h4 class="title-menu" style="color:aliceblue" > 
            Thông tin
          </h4>
          <div class="group-address">
            <ul>
              <li>
                <i class="pi pi-map-marker" style="margin-right: 10px;">
                  <span style="color:aliceblue">
                    P316, Tầng 3 Nhà Hành chính VNUA
                  </span>
                </i>
              </li>
              <li>  
                <i class="pi pi-phone" style="margin-right: 100px;"> 
                  <a title="0945284831" href="tel:19006750">0945284831</a>
                </i>
              </li>
              <li>    
                <i class="pi pi-envelope">
                  <a title="support@sapo.vn" href="mailto:toan.qt@izota.vn">toan.qt&#64;izota.vn</a>
                </i>   
              </li>
            </ul>
          </div>	
          <h4 class="title-menu" style="color:aliceblue">
            Mạng xã hội
          </h4>
          <ul class="social d-flex" style="margin-bottom: 20px;">
            <li class="mr-3"><a href="#" title="Zalo"><img width="32" height="32" title="Zalo" class="lazyload loaded" src="//bizweb.dktcdn.net/100/485/241/themes/911577/assets/zalo.png?1700209535143" data-src="//bizweb.dktcdn.net/100/485/241/themes/911577/assets/zalo.png?1700209535143" data-was-processed="true"></a></li>
            <li class="mr-3"><a href="#" title="Facebook"><img width="32" height="32" title="Facebook" class="lazyload loaded" src="//bizweb.dktcdn.net/100/485/241/themes/911577/assets/facebook.png?1700209535143" data-src="//bizweb.dktcdn.net/100/485/241/themes/911577/assets/facebook.png?1700209535143" data-was-processed="true"></a></li>
            <li class="mr-3"><a href="#" title="Youtube"><img width="32" height="32" title="Youtube" class="lazyload loaded" src="//bizweb.dktcdn.net/100/485/241/themes/911577/assets/youtube.png?1700209535143" data-src="//bizweb.dktcdn.net/100/485/241/themes/911577/assets/youtube.png?1700209535143" data-was-processed="true"></a></li>
            <li><a href="#" title="Google"><img width="32" height="32" title="Google" class="lazyload loaded" src="//bizweb.dktcdn.net/100/485/241/themes/911577/assets/google.png?1700209535143" data-src="//bizweb.dktcdn.net/100/485/241/themes/911577/assets/google.png?1700209535143" data-was-processed="true"></a></li>
          </ul>
        </div>
        <div class="col-12 col-lg-5 ft-menu"> 
          <div class="row">
            <div class="col-12 col-sm-6 link-list col-footer footer-click" style="color:aliceblue">
              <h4 class="title-menu title-menu2" style="color:aliceblue">
                Chính sách
              </h4>
              <ul class="list-menu hidden-mobile">
                <li><a href="/chinh-sach-bao-mat" title="Chính sách bảo mật">Chính sách bảo mật</a></li>        
                <li><a href="/chinh-sach-van-chuyen" title="Chính sách vận chuyển">Chính sách vận chuyển</a></li>
                <li><a href="/chinh-sach-doi-tra" title="Chính sách đổi trả">Chính sách đổi trả</a></li>         
                <li><a href="/quy-dinh-su-dung" title="Quy định sử dụng">Quy định sử dụng</a></li>         
              </ul>
            </div>
            <div class="col-12 col-sm-6 link-list col-footer footer-click">
              <h4 class="title-menu title-menu2" style="color:aliceblue">
                Hướng dẫn
              </h4>
              <ul class="list-menu hidden-mobile" style="color:aliceblue">         
                <li><a href="/huong-dan-mua-hang" title="Hướng dẫn mua hàng">Hướng dẫn mua hàng</a></li>         
                <li><a href="/huong-dan-thanh-toan" title="Hướng dẫn thanh toán">Hướng dẫn thanh toán</a></li>         
                <li><a href="/huong-dan-giao-nhan" title="Hướng dẫn giao nhận">Hướng dẫn giao nhận</a></li>
                <li><a href="/dieu-khoan-dich-vu" title="Điều khoản dịch vụ">Điều khoản dịch vụ</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3"> 
          <h4 class="title-menu" style="color:aliceblue">
            Đăng ký nhận tin
          </h4>
          <span class="content-mailchimp" style="color:aliceblue">Đăng ký ngay! Để nhận thật nhiều ưu đãi</span>
      
          <div class="p-inputgroup" style="border-radius: 50%;">
            <input type="text" pInputText placeholder="Nhập địa chỉ email" />
            <button type="button" pButton style="background:#D58C36; color:aliceblue;">ĐĂNG KÝ</button>
        </div>
      
          <div class="mailchimp-alerts ">
            <div class="mailchimp-submitting"></div>
            <div class="mailchimp-success"></div>
            <div class="mailchimp-error"></div>
          </div>
          <h4 class="title-menu" style="color:aliceblue">
            Hình thức thanh toán
          </h4>
          <ul class="thanhtoan">
            <li><img width="57" height="35" alt="Payment 1" data-src="//bizweb.dktcdn.net/100/485/241/themes/911577/assets/payment_1.png?1700209535143" class="lazyload loaded" src="//bizweb.dktcdn.net/100/485/241/themes/911577/assets/payment_1.png?1700209535143" data-was-processed="true"></li>
            <li><img width="57" height="35" alt="Payment 2" data-src="//bizweb.dktcdn.net/100/485/241/themes/911577/assets/payment_2.png?1700209535143" class="lazyload loaded" src="//bizweb.dktcdn.net/100/485/241/themes/911577/assets/payment_2.png?1700209535143" data-was-processed="true"></li>
            <li><img width="57" height="35" alt="Payment 3" data-src="//bizweb.dktcdn.net/100/485/241/themes/911577/assets/payment_3.png?1700209535143" class="lazyload loaded" src="//bizweb.dktcdn.net/100/485/241/themes/911577/assets/payment_3.png?1700209535143" data-was-processed="true"></li>
          </ul>       
        </div>
      </div>
    </div>
  </footer>
  
</div>
