<div class="container">
    <div class="category-item">
      <a href="#">
        <div class="category-image">
          <img src="../../../assets/img/danhmuc_1.png" alt="Tô-Chén-Dĩa">
        </div>
        <div class="category-title">
          <h3>Tô-Chén-Dĩa</h3>
        </div>
      </a>
    </div>
  
    <div class="category-item">
      <a href="#">
        <div class="category-image">
          <img src="../../../assets/img/danhmuc_2.png" alt="Phụ kiện trà - cà phê">
        </div>
        <div class="category-title">
          <h3>Phụ kiện trà - cà phê</h3>
        </div>
      </a>
    </div>
  
    <div class="category-item">
      <a href="#">
        <div class="category-image">
          <img src="../../../assets/img/danhmuc_3.png" alt="Ly sứ dưỡng sinh">
        </div>
        <div class="category-title">
          <h3>Ly sứ dưỡng sinh</h3>
        </div>
      </a>
    </div>
  
    <div class="category-item">
      <a href="#">
        <div class="category-image">
          <img src="../../../assets/img/danhmuc_4.png" alt="Túi vải canvas">
        </div>
        <div class="category-title">
          <h3>Túi vải canvas</h3>
        </div>
      </a>
    </div>
  
    <div class="category-item">
      <a href="#">
        <div class="category-image">
          <img src="../../../assets/img/danhmuc_5.png" alt="Hộp sứ dưỡng sinh">
        </div>
        <div class="category-title">
          <h3>Hộp sứ dưỡng sinh</h3>
        </div>
      </a>
    </div>
  
    <div class="category-item">
      <a href="#">
        <div class="category-image">
          <img src="../../../assets/img/danhmuc_6.png" alt="Bộ Trà">
        </div>
        <div class="category-title">
          <h3>Bộ Trà</h3>
        </div>
      </a>
    </div>
  </div>