
<div class="header">
  <div class="container" style="padding-top: 50px; text-align: center;">
      <nav aria-label="breadcrumb" style="display: inline-block;">
          <h2 style=" color: #CC7F45;">Tin tức</h2>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item" style=" color: #CC7F45;" >Tin tức</li>
          </ol>
      </nav>
      
      <p-carousel [value]="subCategories" [numVisible]="4" [numScroll]="1" [responsiveOptions]="responsiveOptions">
          <ng-template let-subCategories pTemplate="item">
              <a class="m-2 text-center py-3 px-5 category-item">
                  <div class="mb-1 custom-img">
                      <img class="" [src]="subCategories.imageUrl" [alt]="subCategories.title">
                  </div>
                  <div>
                      <p class="mb-1 mt-3">{{ subCategories.title }}</p>
                  </div>
              </a>
          </ng-template>
      </p-carousel>
  </div>
</div>

  <div class="container" style="padding-top: 50px; text-align: center;">
    <div class="row mt-3">
      <div class="col-12" *ngIf="newsList.length">
        <div class="row">
          <div class="col-12 col-sm-6 col-lg-3 p-2" *ngFor="let news of newsList; let i = index">
            <div class="p-4 surface-card border-round">
              <div class="d-flex flex-column">
                <a [routerLink]="['/user/tintuc', news._id]" class="link-unstyled">
                  <img style="width: 350px; height: 230px; object-fit: cover;" class="shadow border-round" [src]="'http://localhost:3000' + news.newsImage" [alt]="news.title" />
                  <div class="mt-3 text-left text-muted">
                    <span class="font-weight-bold">{{ news.publishedAt | date:'dd-MM-yyyy' }}</span>
                  </div>
                  <div class="font-weight-bold mt-2 text-left">{{ news.title }}</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="!newsList.length">
        <p>Không có tin tức nào hiện tại.</p>
      </div>
    </div>
  </div>
