
  <router-outlet></router-outlet>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
  <!-- <link href="https://unpkg.com/primeflex/primeflex.css" rel="stylesheet" /> -->
  <link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet" />
  <link href="https://unpkg.com/quill@1.3.7/dist/quill.snow.css" rel="stylesheet" />