.gioithieu .container{
    max-width: 1400px;
}
.header{
    background: url('../../../assets/img/nền.png') center/cover;
    text-align: center;
}
.header .container{
    max-width:1000px !important;
}
.category-item {
    
    max-width: 174px; 
  }

.custom-img img{
    border-radius: 50% !important;
    max-width: 174px; 
  }
a{
  text-decoration: none;
  color:#000;  
}
.category-item:hover .custom-img img {
  transform: translateY(-15px);
} 
.category-item:hover p {
  color: #CC7F45; 
}  

.custom-button2:hover{
    background-color: #CC7F45;
    color: aliceblue;
}
.custom-button2{
    background-color: black; 
    color:aliceblue;
}
