.header{
    background: url('../../../assets/img/nền.png') center/cover;
    text-align: center;
}
.header .container{
    max-width:1000px !important;
}
.category-item {
    
    max-width: 174px; 
  }

.custom-img img{
    border-radius: 50% !important;
    max-width: 174px; 
  }
a{
  text-decoration: none;
  color:#000;  
}
.category-item:hover .custom-img img {
  transform: translateY(-15px);
} 
.category-item:hover p {
  color: #CC7F45; 
}  

a .product_name:hover{
    color: #CC7F45;
}
.custom-button button {
  border: 1px solid #CC7F45; 
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 5px;
  text-align: center;
}
.custom-button button.active {
  background-color: #CC7F45;
  color: #fff; /* Màu chữ khi nút được chọn */
}