<div class="header">
    <div class="container" style="padding-top: 50px; text-align: center;">
        <nav aria-label="breadcrumb" style="display: inline-block;">
            <h2 style=" color: #CC7F45;">Tất cả sản phẩm</h2>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
              <li class="breadcrumb-item" style=" color: #CC7F45;">Tất cả sản phẩm</li>
            </ol>
        </nav>
        
        <p-carousel [value]="subCategories" [numVisible]="4" [numScroll]="1" [responsiveOptions]="responsiveOptions">
            <ng-template let-subCategories pTemplate="item">
                <a class="m-2 text-center py-3 px-5 category-item">
                    <div class="mb-1 custom-img">
                        <img class="" [src]="subCategories.imageUrl" [alt]="subCategories.title">
                    </div>
                    <div>
                        <p class="mb-1 mt-3">{{ subCategories.title }}</p>
                    </div>
                </a>
            </ng-template>
        </p-carousel>
    </div>
</div>
<!-- product-list.component.html -->
  <div class="container">
    <div class="row">
        <a href="#">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3 p-2" *ngFor="let product of products; let i = index">
                    <div class="p-4  surface-card border-round align-items-start">
                        <div class="d-flex flex-column">
                            <img style="width: 300px; height: 250px; object-fit: cover;" class="shadow border-round" [src]="'http://localhost:3000' + products[i].productImage[0]" [alt]="products[i].productName" />
                            <div class=" font-weight-bold mt-3 product_name" style="height: 60px;">{{ products[i].productName }}</div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <span class=" font-weight-bold" style="color:red;">{{ products[i].productPrice | number:'1.0-2' }} VND</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        
    </div>
</div>


  